.button {
  font-family: 'Poppins', Helvetica, sans-serif;
  background-color: var(--alert-color);
  padding: 10px;
  width: 100%;
  font-size: 20px;
  color: var(--alert-color);
  border: none;
  border-radius: 4px;
  transition: background-color var(--transistion) ease-in-out;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  margin: 5px 0px;
}

.button-primary {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

.button-primary:hover {
  background-color: #F6D7BA;
}

.button-primary:active {
  background-color: var(--primary-color);
}

.button-secondary {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.button-secondary:hover {
  background-color: var(--muted-color);
  color: var(--dark-color);
}

.button-secondary:active {
  background-color: var(--primary-color);
}