:root {
  /* Frequently used styling */
  --primary-color: #96d3de;
  --secondary-color: #f89b30;
  --light-color: white;
  --dark-color: #3f3f3f;
  --muted-color: #e6e7e8;
  --danger-color: orange;
  --success-color: orange;
  --info-color: #96d3de;
  --muted-primary-color: #cae8ee;
  --transistion: 0.1s;
  --primary-font: "Poppins", Helvetica, sans-serif;
}

* {
  /* Targets every element */
  font-family: var(--primary-font);
}

body {
  color: var(--dark-color);
}

html {
  background-color: var(--primary-color);
  /* Should change depending on DarkMode true or false */
}

.site_icon {
  display: inline-block;
  padding: 2px;
}

.container {
  max-width: 1200px;
  padding-inline: 5px;

  @media (min-width: 768px) {
    padding-inline: 30px;
  }
}

.content {
  border-radius: 6px;
  background-color: var(--light-color);
  padding: 10px;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (min-width: 768px) {
    padding: 30px;
  }
}

.darkmode.content {
  background-color: var(--dark-color);
}

.darkmode .button-secondary {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.darkmode .css-74lhn7-MuiCardMedia-root {
  background-color: var(--light-color);
}

.darkmode .css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root h3 {
  color: var(--dark-color) !important;
}

.darkmode p,
.darkmode h1,
.darkmode h2,
.darkmode h3,
.darkmode h4 {
  color: white;
}

.darkmode hr {
  border-color: var(--light-color);
}

.darkmode .time-button {
  background-color: var(--light-color);
}

.darkmode #demo-simple-select {
  background-color: var(--light-color);
}

.inner-content {
  width: 100%;
  align-items: center;
}

.page-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: 100%;
}

.button-bottom {
  align-self: flex-end;
  width: 100%;
}

p {
  color: var(--dark-color);
}

ul {
  list-style: none;
}

.page_title {
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1.4rem;
  }
}

/* Headings */
h1 {
  text-transform: uppercase;
  color: var(--dark-color);
  font-family: var(--primary-font);
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
}

h2 {
  color: var(--dark-color);
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  color: var(--dark-color);
  font-family: var(--primary-font);
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
}

h4 {
  color: var(--dark-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 700;
}

.card-title {
  text-decoration: none;
  color: var(--dark-color);
}

.choose-title {
  text-align: left;
  margin: 40px 0px;
}

.username {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
}

.your-booking-box {
  font-weight: 400;
  font-size: 16px;
  border: 1px solid var(--muted-primary-color);
  background-color: var(--muted-primary-color);
  padding: 10px 20px;
  border-radius: 4px;
  transition: var(--transistion);
  margin: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-button {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  border: 1px solid var(--muted-color);
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 4px;
  transition: all var(--transistion);
}

.time-button:hover {
  background-color: var(--muted-primary-color);
  border-color: var(--dark-color);
}

.time-button:active {
  background-color: var(--primary-color);
  border-color: var(--dark-color);
}

.time-button:focus {
  background-color: var(--primary-color);
  border-color: var(--dark-color);
}

.button:active,
.active {
  background-color: var(--primary-color);
  border-color: var(--dark-color);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 100px;
  align-self: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.profile-pic {
  border-radius: 50px;
  border: 1px solid transparent;
}

.clickable {
  cursor: pointer;
}

.css-169iwlq-MuiCalendarPicker-root {
  width: 100% !important;
}

.css-nk89i7-MuiPickersCalendarHeader-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.link {
  color: var(--secondary-color);
}

.min-amount {
  font-size: 10px;
}

.help-text {
  font-size: 12px;
  padding-left: 6px;
}

.help-icon {
  color: var(--secondary-color);
  padding-right: 5px;
}

.help-box {
  display: flex;
  align-items: center;
}

.icon-help-component {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.select-room-name {
  padding-right: 10px;
}

.capitalize {
  text-transform: capitalize;
}

/* CSStransition */

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* Loading */

@keyframes blink {
  50% {
    color: transparent;
  }
}
.loader__dot {
  animation: 1s blink infinite;
}
.loader__dot:nth-child(2) {
  animation-delay: 250ms;
}
.loader__dot:nth-child(3) {
  animation-delay: 500ms;
}
