:root {
  /* Frequently used styling */
  --primary-color: #96D3DE;
  --secondary-color: #F89B30;
  --light-color: white;
  --dark-color: #282D35;
  --muted-color: #E6E7E8;
  --danger-color: orange;
  --success-color: orange;
  --info-color: #96D3DE;
  --transistion: 0.1s;
  --primary-font: 'Poppins', Helvetica, sans-serif;
}

html {
  background-color: var(--primary-color);
  /* Should change depending on DarkMode true or false */
}

.wrapper {
  max-width: 1200px;
  background-color: var(--light-color);
  margin-left: auto;
  margin-right: auto;
}

p {
  color: var(--dark-color);
}

header {
  background-color: var(--primary-color);
  padding: 20px 0px 20px 0px;
}

nav {
  padding: 30px;
  text-align: center;
}

nav * {
  background-color: inherit;
}

.container {
  padding: 30px;
}

ul {
  list-style: none;    
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #61DAFB; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ul > li {
  padding: 10px;
}

/* Headings */
h1 {
  text-transform: uppercase;
  color: var(--dark-color);
  font-family: var(--primary-font);
}

h2 {
  color: var(--dark-color);
}